.parameters {
	display: grid;
	grid-template-columns: repeat(3, 150px) 145px 152px;
	column-gap: 24px;
	align-items: center;
	height: 72px;
	border-bottom: 1px solid var(--secondary_pressed, #d2d3d9);
	margin: 0;
	padding: 0;
}

.paramName {
	width: 184px;
	font-family: 'Inter';
	font-size: 12px;
	font-weight: 500;
	color: var(--black, #0e0e0e);
	padding: 0;
	margin: 0;
}
