@use '../../app/styles/mixins.scss';
@import '../../app/styles/variables.scss';

.subtitle {
  @include mixins.title_h2;
  margin: 0 0 28px 0;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px;
  margin: 28px 0;
  border-radius: 8px;
  background: $baseColorWhite;
  box-shadow:
    0px 0px 1px 0px rgba(0, 0, 0, 0.16),
    0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.ratingWrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.rating {
  padding-bottom: 12px;
  display: flex;
  gap: 4px;
}

.ratingSpan {
  color: $baseColorBlack;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
}

.ratingBtn {
  border-radius: 8px;
  border: 1px solid $baseColorBlack;
  background: $baseColorWhite;
  width: 32px;
  height: 32px;
  color: baseColorBlack;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingBtn.clicked {
  background-color: $baseColorBlack;
  color: $baseColorWhite;
}

.ratingDisable {
  cursor: default;
}
