// Base colors
$baseColorWhite: #fff;
$baseColorBlack: #0e0e0e;
$baseColorMetallic: #898889;

// Status colors

$satatusCompletedTxt: #0a9336;
$satatusCompletedBg: #d1f1d7;
$satatusWarningTxt: #ea8314;
$satatusWarningBg: #fde6c8;
$satatusInProgressTxt: #2a77ef;
$satatusInProgressBg: #d8eaff;
$satatusOnApprovalTxt: #2a77ef;
$satatusOnApprovalBg: #d8eaff;
$satatusDraftTxt: #7865e6;
$satatusDraftBg: #e3e7ff;

// Button colors

$buttonPrimaryHover: #29292c;
$buttonPrimaryPressed: #2f2f32;
$buttonSecondaryHover: #dcdde1;
$buttonSecondaryPressed: #d2d3d9;
$buttonTertiaryPressed: #eeeef0;

// Additional
$additionalBg: #f2f3f5;
$additionalLockedTxt: #989aa3;
$additionalProgressGreen: #08c44d;
