.table {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter';
	margin-bottom: 20px;
	width: 1072;
}

.cellWithIcon {
	display: flex;
	align-items: center;
	gap: 12px;
}

.openedTask {
	padding: 28px;
	border: 1px dashed var(--in_progress_text, #2a77ef);
	display: block;
	border: none;
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	margin-bottom: 24px;
}

.coursesWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
	margin-top: 24px;
}

.attachWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	margin-top: 24px;
}

.attachTitle {
	padding: 0;
	margin: 0;
	color: #70707a;
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.attachButton {
	background-color: none;
	color: #2a77ef;
}

.button {
	width: 237px;
	height: 48px;
	margin-top: 28px;
}

.calendar {
	width: 298px;
}

.goalName {
	width: 574px;
}

.textClass {
	margin-top: 24px;
	height: 91px;
}

.linkToCourses {
	cursor: pointer;
	width: 152px;
	height: 24px;
	object-fit: contain;
}

.formRowTag {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	width: 952px;
	background-color: #fff;
	gap: 16px;
}

.formTag {
	width: 952px;
	border-radius: 8px;
	background: #f2f3f5;
	height: 48px;
	display: flex;
	padding: 8px 12px;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}
