@use '../../styles/mixins.scss';

.aside {
	margin: 0;
	padding: 0;
	width: 184px;
	flex-shrink: 0;

	* {
		box-sizing: border-box;
	}
}

.navtab {
	margin: 0;
	padding: 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	.item:first-of-type {
		background: #fff;
	}
	.link:first-of-type {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

.item {
	@include mixins.button_xxs;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	height: 44px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	width: 100%;
}

.item:focus {
	align-items: center;
	align-self: stretch;
	opacity: 0.75;
}
.item:hover {
	align-items: center;
	align-self: stretch;
	opacity: 0.75;
}
.itemActive {
	align-items: center;
	align-self: stretch;
	opacity: 0.75;
}

.link {
	@include mixins.button_xxs;
	text-decoration: none;
	display: block;
	cursor: pointer;
	width: 100%;
	height: 44px;
	padding: 11px 10px;

	&.active {
		border-radius: var(--3xl, 8px);
		background: var(--bg, #f2f3f5);
	}
}

.icon {
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	color: #0e0e0e;
}

.iconBack {
	display: flex;
	width: 32px;
	height: 32px;
	padding: 8px;
	justify-content: center;
	align-items: center;
	border-radius: var(--3xl, 40px);
	background: var(--bg, #f2f3f5);
}

.iconBack:hover {
	border-radius: var(--3xl, 40px);
	background: var(--on_approval_bg, #e7e7ea);
}

.iconBack:active {
	border-radius: var(--3xl, 40px);
	background: var(--secondary_hover, #dcdde1);
}
