@use '../../styles/mixins.scss';

.table {
  box-sizing: border-box;
  font-family: 'Inter';
  width: 1016px;
}

.cellWithIcon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.openedTask {
  margin: 0 auto;
  border: 1px dashed #2a77ef;
  display: block;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.coursesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.attachWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
}

.attachTitle {
  padding: 0;
  margin: 0;
  color: #70707a;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.attachButton {
  background-color: none;
  color: #2a77ef;
}

.button {
  width: 237px;
  height: 48px;
  margin-top: 28px;
  padding: 10px;
  z-index: 20;
}

.calendar {
  width: 298px;
}

.goalName {
  width: 574px;
}

.textClass {
  margin-top: 24px;
  height: 91px;
}

.linkToCourses {
  cursor: pointer;
  width: 152px;
  height: 24px;
  object-fit: contain;
}

.formRowTag {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 952px;
  background-color: #fff;
  gap: 16px;
}

.formTag {
  margin: 0;
  padding: 0;
  width: 952px;
  border-radius: 8px;
  background: #f2f3f5;
  height: 48px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  overflow: hidden;
  color: #2a77ef;
  text-overflow: ellipsis;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  width: 300px;
}

.formCircle {
  margin: 0;
  padding: 0;
  color: #70707a;
}

.attachedFile {
  background-color: #d2d3d9;
  border-radius: 8px 8px 0px 0px;
}

.buttonResult {
  width: 237px;
  height: 48px;
  margin-top: 28px;
  padding: 10px;
  z-index: 20;
}

.formRowTag {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 952px;
  background-color: #fff;
  gap: 16px;
}

.tagContainer {
  padding: 0;
  display: flex;
  width: 952px;
}
.formTag {
  padding: 0;
  width: 952px;
  border-radius: 8px;
  background: #f2f3f5;
  height: 48px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  display: flex;
}

.buttonResult {
  margin: 0 0 0 auto;
}

.blockTitle {
  @include mixins.title_h2;
  margin: 0 0 28px 0;
}

.buttonComponent {
  margin-bottom: 64px;
  margin: 28px 0 28px 0;
}
.select {
  display: flex;
  height: 35px;
  width: 130px;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 0 6px;
  margin: 5px;
  font: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border: 9px solid black;
}

.option {
  font: 'Inter';
  font-weight: 400;
  font-size: 20px;
  background-color: white;
}

.taskBlock {
  padding: 0;
  margin: 0;
  div {
    padding: 0;
    margin: 0;
  }
}
