.table {
	font-family: 'Inter';
}

.cellWithIcon {
	display: flex;
	align-items: center;
	gap: 12px;
}

.openTask {
	width: 952px;
	padding: 28px;
	border: 1px dashed var(--in_progress_text, #2a77ef);
	display: none;
}
