.table {
	box-sizing: border-box;
	font-family: 'Inter';
}

.cellWithIcon {
	display: flex;
	align-items: center;
	gap: 12px;
}

.openedTask {
	padding: 28px;
	border: 1px dashed var(--in_progress_text, #2a77ef);
	display: block;
}

.wrapper {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.calendar {
	width: 298px;
}

.goalName {
	width: 574px;
}
