// Base colors
$baseColorWhite: #fff;
$baseColorBlack: #0e0e0e;
$baseColorMetallic: #898889;
$baseColorGrey: #70707a;

// Status colors

$statusCompletedTxt: #0a9336;
$statusCompletedBg: #d1f1d7;
$statusWarningTxt: #ea8314;
$statusWarningBg: #fde6c8;
$statusInProgressTxt: #2a77ef;
$statusInProgressBg: #d8eaff;
$statusOnApprovalTxt: #2a77ef;
$statusOnApprovalBg: #d8eaff;
$statusDraftTxt: #7865e6;
$statusDraftBg: #e3e7ff;
$statusNotComplitedTxt: #ec2e13;
$statusNotComplitedBg: #ffdfdf;

// Button colors

$buttonPrimaryHover: #29292c;
$buttonPrimaryPressed: #2f2f32;
$buttonSecondaryHover: #dcdde1;
$buttonSecondaryPressed: #d2d3d9;
$buttonTertiaryPressed: #eeeef0;
$buttonBgAttention: #ffdfdf;

// Additional
$additionalBg: #f2f3f5;
$additionalLockedTxt: #989aa3;
$additionalProgressGreen: #08c44d;
$additionalTable: #e7e7ea;
