@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		url('./InterBold/Inter-Bold.woff2') format('woff2'),
		url('./InterBold/Inter-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url('./InterMedium/Inter-Medium.woff2') format('woff2'),
		url('./InterMedium/Inter-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('./InterRegular/Inter-Regular.woff2') format('woff2'),
		url('./InterRegular/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Styrene UI';
	src:
		url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_regular.woff2')
			format('woff2'),
		url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_regular.woff')
			format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Styrene UI';
	src:
		url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_medium.woff2')
			format('woff2'),
		url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_medium.woff')
			format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Styrene UI';
	src:
		url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_bold.woff2')
			format('woff2'),
		url('https://alfabank.servicecdn.ru/media/fonts/styrene-ui/styrene-ui_bold.woff')
			format('woff');
	font-weight: 700;
	font-style: normal;
}
