@use '../../app/styles/mixins.scss';
@import '../../app/styles/variables.scss';

.aside {
  margin: 0;
}

.navtab {
  margin: 0;
  padding: 0;
  width: 220px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  .link {
    margin: 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 7px;
  }
}

.item {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  margin-left: -5px;
  &:not(:nth-of-type(5)) {
    pointer-events: none;
  }

  &:hover {
    border-radius: var(--3xl, 8px);
    background: var(--bg, #f2f3f5);
  }
}

.link {
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 200px;
  color: $baseColorBlack;
  font-feature-settings: 'salt' on;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.28px;
  background: none;
}

.icon {
  margin: 0;
  margin-right: 4px;
  width: 40px;
  height: 40px;
  color: $baseColorBlack;
  border-radius: 10px;
  display: block;
}

.iconMore {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.title {
  @include mixins.columns;
  padding: 0;
  color: #70707a;
  margin-top: 5px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.titleMore {
  text-transform: lowercase;
  font-size: 14px;
  color: #70707a;
  font-weight: 500;
  letter-spacing: 0.1em;
}
