@use '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.aside {
	margin: 0;
}

.navtab {
	margin: 0;
	padding: 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	max-width: 200px;
	width: 100%;
	gap: 4px;

	.link {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		border: none;
		border-radius: 7px;
		background-color: #fff;
	}

	.link:hover {
		border: 1px solid #e7e7ea;
	}
}

.item {
	display: flex;
	flex-direction: row;
	height: 40px;
	align-items: center;
}
.item:nth-of-type(1) {
	pointer-events: none;
}
.item:nth-of-type(2) {
	pointer-events: none;
}
.item:nth-of-type(3) {
	pointer-events: none;
}
.item:nth-of-type(4) {
	pointer-events: none;
}
.item:nth-of-type(6) {
	pointer-events: none;
}

.link {
	text-decoration: none;
	display: block;
	cursor: pointer;
	width: 200px;
	color: $baseColorBlack;
	font-feature-settings: 'salt' on;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.28px;
}

.icon {
	margin: 0;
	padding-right: 2px;
	width: 40px;
	height: 40px;
	color: $baseColorBlack;
	border-radius: 10px;
}

.title {
	@include mixins.columns;
	margin: 0 0 20 0;
	padding: 0;
	color: #70707a;
}
