@use './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.table {
	font-family: 'Inter';
}

.sortBtn {
	display: flex;
	gap: 10px;
	align-items: center;
}

.sortIcon {
	cursor: pointer;
}

.tableRaw {
	display: grid;
	grid-template-columns: 288px 184px 80px 80px 110px 112px 24px;
	gap: 24px;
	border-bottom: 1px solid #e7e7ea;
	padding-top: 24px;
	padding-bottom: 24px;
	justify-content: space-between;
	align-items: center;
}

.cellStatus {
	display: flex;
	padding: 0px 8px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: $additionalTable;
	color: $baseColorGrey;
	font-family: 'Inter';
	font-size: 11px;
	font-weight: 700;
	line-height: 20px; /* 181.818% */
	letter-spacing: 0.5px;
	text-transform: uppercase;
	box-sizing: border-box;
}

.cellNoData {
	display: flex;
	align-items: center;
	color: $baseColorBlack;
	font-family: 'Inter';
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.dotsActionBtn {
	border: none;
	background: transparent;
	width: fit-content;
	cursor: pointer;
}

.paragraph {
	@include mixins.text;

	margin: 0;
	padding: 0;
	color: var(--metallic, #898889);
}
