@use '../../shared/modules/mixins/mixins.scss';

.my_plans {
	display: flex;
	flex-direction: row;
}

.title {
	font-family: 'Styrene UI';
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.parameters {
	display: flex;
	list-style: none;
	gap: 24px;
}

.param_name {
	font-family: 'Inter';
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 184px;
}

.button {
	@include mixins.button_xxs;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	width: 184px;
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	background: none;
	color: inherit;
	outline: none;
}

.icon_back {
	display: flex;
	max-width: 16px;
	max-height: 16px;
	padding: 8px;
	justify-content: center;
	align-items: center;
	border-radius: var(--3xl, 40px);
	background: var(--bg, #f2f3f5);
}

.title {
	margin: 0 0 20px;
	padding: 0;
	font-family: 'Styrene UI';
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
