.notifications {
	background: white;
	width: 520px;
	position: absolute;
	right: 0;
	top: calc(100% + 30px);
	border-radius: 12px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.item {
	padding: 16px;
	border-bottom: 1px solid #e7e7ea;
}

.title {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	display: block;
	margin: 0;
	margin-bottom: 12px;
}

.description {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	margin-bottom: 12px;
}

.footer {
	display: flex;
	align-items: center;
}

.date {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #989aa3;
}

.link {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #2a77ef;
	margin-left: auto;
	text-decoration: none;
}

.wrapperShowMore {
	padding: 16px;
	display: flex;
	justify-content: flex-end;
}
