.generalFooterWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.generalFooterContainer {
	flex: 1 0 auto;
}
.generalFooter {
	flex: 0 0 auto;
}

.container {
	display: flex;
	gap: 24px;
	margin-top: 40px;
	height: 40%;
}
