.header {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0px;
}

.input {
	display: flex;
	height: 40px;
	gap: 12px;
	border-radius: 8px;
	width: 176px;
	margin: 0 16px 0 0;
	padding: 0;
	--form-control-s-min-height: 40px;
}

.icon {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.logoImage {
	width: 40px;
	height: 40px;
}

.logoTitle {
	font-family: 'Styrene UI';
	font-weight: 500;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-style: normal;

	margin-right: 39px;
}

.navigation {
	display: flex;
	gap: 40px;
}

.navItem {
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
	color: #0e0e0e;
	cursor: pointer;
}

.avatar {
	margin-left: 16px;
	width: 40px;
	height: 40px;
}
