@use '../../styles/mixins.scss';

@import './../../styles/variables.scss';

.container {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.wrapper {
  flex-grow: 1;
}

.dataWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 26px;
  gap: 24px;
}

.dataWrapper > * {
  width: calc(50% - 12px);
}

.searchInputWrapper {
  padding-bottom: 28px;
}

.filterTagsWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

// дропдаун

.dropbtn1 {
  color: black;
  width: 100px;
  height: 43px;
  border: none;
  display: flex;
  align-items: flex-start;
  padding: 8px 8px 8px 16px;
  gap: 8px;
  border-radius: 99px;
  background: #f2f3f5;
  font-feature-settings: 'salt' on;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  opacity: 1;
  cursor: pointer;
  align-items: center;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown1 {
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdownContent1 {
  position: absolute;
  padding: 16px;
  z-index: 1;
  box-shadow:
    0px 20px 24px 0px rgba(0, 0, 0, 0.08),
    0px 12px 16px 0px rgba(0, 0, 0, 0.04),
    0px 4px 8px 0px rgba(0, 0, 0, 0.04),
    0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid #e7e7ea;
  border-radius: 8px;
  background-color: #fff;
}

/* Ссылки внутри выпадающего списка */
.dropdownContent1 p {
  @include mixins.text;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 270px;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdownContent1 p:hover {
  background-color: #f1f1f1;
}

/* Показать выпадающее меню при наведении */
// .dropdown:hover .dropdownContent {
// 	display: block;
// }

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.dropdown1:hover .dropbtn {
  opacity: 0.6;
  transform: 1s opacity ease-in-out;
}

.dropbtn2 {
  color: black;
  width: 100px;
  height: 43px;
  border: none;
  display: flex;
  align-items: flex-start;
  padding: 8px 8px 8px 16px;
  gap: 8px;
  border-radius: 99px;
  background: #f2f3f5;
  font-feature-settings: 'salt' on;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  opacity: 1;
  cursor: pointer;
  align-items: center;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown2 {
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdownContent2 {
  position: absolute;
  padding: 16px;
  z-index: 1;
  box-shadow:
    0px 20px 24px 0px rgba(0, 0, 0, 0.08),
    0px 12px 16px 0px rgba(0, 0, 0, 0.04),
    0px 4px 8px 0px rgba(0, 0, 0, 0.04),
    0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid #e7e7ea;
  border-radius: 8px;
  background-color: #fff;
}

/* Ссылки внутри выпадающего списка */
.dropdownContent2 p {
  @include mixins.text;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 123px;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdownContent2 p:hover {
  background-color: #f1f1f1;
}

/* Показать выпадающее меню при наведении */
// .dropdown:hover .dropdownContent {
// 	display: block;
// }

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.dropdown2:hover .dropbtn {
  opacity: 0.6;
  transform: 1s opacity ease-in-out;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

// Footer

.generalFooterWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.generalFooterContainer {
  flex: 1 0 auto;
}
.generalFooter {
  flex: 0 0 auto;
}
