@use '../../shared/modules/mixins/mixins.scss';

.main {
	margin: 0 auto;
	padding: 0;
	width: 1224px;
}

.container {
	margin: 0 auto;
	margin-top: 72px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1224px;
	width: 100%;
	overflow: hidden;
}
.img {
	overflow: hidden;
}

.paragraph {
	@include mixins.text;

	margin: 0;
	padding: 0;
	color: var(--metallic, #898889);
}
