.main {
	margin: 0;
	padding: 0;
	width: 1016px;
}

.container {
	margin-top: 72px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1280px;
	overflow: hidden;
}
.img {
	padding-left: 50px;
	overflow: hidden;
}
