@use '../../shared/modules/mixins/mixins.scss';

.myPlan {
	display: flex;
	flex-direction: row;
	gap: 119px;
	margin: 40px 0 0;
}

.title {
	font-family: 'Styrene UI';
	font-size: 38px;
	font-weight: 500;
	line-height: normal;
	padding: 0;
	margin: 0 0 28px;
}

.itemsList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 1016px;
}
.container {
	width: 1016px;
	column-gap: 24px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.title {
	margin: 0 0 20px;
	padding: 0;
	font-family: 'Styrene UI';
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.paragraph {
	@include mixins.text;

	margin: 0;
	padding: 0;
	color: var(--metallic, #898889);
}

.titleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	margin-top: 28px;
	margin-bottom: 48px;
}
