@use '../../styles/mixins.scss';
@import './../../styles/variables.scss';

.iprDraft {
	width: 1010px;
}

.title {
	@include mixins.title_h1;
	padding: 0;
	margin: 0 0 12px;
}

.subtitle {
	@include mixins.title_h2;
}

.container {
	margin-top: 40px;
	display: flex;
	gap: 24px;
}

.titleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.employeeWrapper {
	margin-bottom: 28px;
}

.buttonsWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttonSave {
	margin-top: 28px;
	margin-bottom: 48px;
}

.buttonSend {
	margin-right: 20px;
}

.paragraph {
	@include mixins.text;

	margin: 0;
	padding: 0;
	color: var(--metallic, #898889);
}

.container {
	display: flex;
	gap: 24px;
}

.wrapper {
	flex-grow: 1;
}

.employeeWrapper {
	padding-bottom: 30px;
	padding-top: 14px;
}

.buttonWrapper {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.form {
	margin: 0;
	padding: 0;
	.blockWrapper:last-of-type {
		margin-bottom: 28px;
	}
}
.blockWrapper {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	border: none;
}
.blockTitle {
	@include mixins.title_h2;
	margin: 0;
	padding: 48px 0 28px 0;
}
.formBlock {
	// @include mixins.form;
	display: flex;
	flex-direction: column;
	gap: 24px;

	.formRow {
		display: flex;
		flex-direction: row;
		gap: 24px;
		flex-wrap: wrap;
	}

	.formRowTag {
		display: flex;
		align-items: center;
		align-content: center;
		gap: 8px;
		align-self: stretch;
		flex-wrap: wrap;
	}
}

.textClass {
	height: 91px;
}
