@import url(./shared/fonts/fonts.css);
@import 'normalize.css';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.inputheight {
	display: flex;
	height: 40px !important;
	gap: 12px;
	border-radius: 8px;
	width: 176px;
	margin: 0 16px 0 0;
	padding: 0;
}
