@mixin title_h1($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-feature-settings: 'salt' on;
	font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1.14px;
}

@mixin title_h2($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-family: 'Styrene UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}

@mixin logo($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-feature-settings: 'salt' on;

	font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.4px;
}

@mixin button_txt($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

@mixin input_txt($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);

	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

@mixin header_h3($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-feature-settings: 'salt' on;
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.14px;
}

@mixin button_xxs($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-feature-settings: 'salt' on;
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}

@mixin text($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

@mixin input_name($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);

	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

@mixin files($baseColorBlack: #0e0e0e) {
	color: $baseColorBlack;
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

@mixin columns($baseColorBlack: #0e0e0e) {
	color: var(--black, $baseColorBlack);
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

@mixin status {
	color: #0e0e0e;
	font-family: 'Inter', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
